<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>20170605_crm_001</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dictionaryTypeList</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictTypeListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dictionaryTypeList</servlet-name>
    <url-pattern>/settings/dictionary/type/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dictionaryTypeAdd</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictTypeAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dictionaryTypeAdd</servlet-name>
    <url-pattern>/settings/dictionary/type/add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dictionaryTypeEdit</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictTypeEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dictionaryTypeEdit</servlet-name>
    <url-pattern>/settings/dictionary/type/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dictionaryTypeUpdate</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictTypeUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dictionaryTypeUpdate</servlet-name>
    <url-pattern>/settings/dictionary/type/update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dictionaryTypeDelete</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictTypeDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dictionaryTypeDelete</servlet-name>
    <url-pattern>/settings/dictionary/type/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryValueList</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictValueListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryValueList</servlet-name>
    <url-pattern>/settings/dictionary/value/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryValueDelete</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictValueDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryValueDelete</servlet-name>
    <url-pattern>/settings/dictionary/value/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryValueAdd</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictValueAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryValueAdd</servlet-name>
    <url-pattern>/settings/dictionary/value/add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryValueSave</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictValueSaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryValueSave</servlet-name>
    <url-pattern>/settings/dictionary/value/save.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryValueEdit</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictValueEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryValueEdit</servlet-name>
    <url-pattern>/settings/dictionary/value/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictionaryValueUpdate</servlet-name>
    <servlet-class>com.stv.crm.settings.dictionary.web.controller.DictValueUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionaryValueUpdate</servlet-name>
    <url-pattern>/settings/dictionary/value/update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeptList</servlet-name>
    <servlet-class>com.stv.crm.settings.dept.web.controller.DeptListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptList</servlet-name>
    <url-pattern>/settings/dept/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeptAdd</servlet-name>
    <servlet-class>com.stv.crm.settings.dept.web.controller.DeptAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptAdd</servlet-name>
    <url-pattern>/settings/dept/add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeptEdit</servlet-name>
    <servlet-class>com.stv.crm.settings.dept.web.controller.DeptEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptEdit</servlet-name>
    <url-pattern>/settings/dept/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeptUpdate</servlet-name>
    <servlet-class>com.stv.crm.settings.dept.web.controller.DeptUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptUpdate</servlet-name>
    <url-pattern>/settings/dept/update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeptDelete</servlet-name>
    <servlet-class>com.stv.crm.settings.dept.web.controller.DeptDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptDelete</servlet-name>
    <url-pattern>/settings/dept/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptCheckAdd</display-name>
    <servlet-name>DeptCheckAdd</servlet-name>
    <servlet-class>com.stv.crm.settings.dept.web.controller.DeptCheckAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptCheckAdd</servlet-name>
    <url-pattern>/settings/dept/checkAdd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleList</display-name>
    <servlet-name>RoleList</servlet-name>
    <servlet-class>com.stv.crm.settings.qx.web.controller.RoleListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleList</servlet-name>
    <url-pattern>/settings/qx/role/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleCheckAdd</display-name>
    <servlet-name>RoleCheckAdd</servlet-name>
    <servlet-class>com.stv.crm.settings.qx.web.controller.RoleCheckAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleCheckAdd</servlet-name>
    <url-pattern>/settings/qx/role/checkAdd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleAdd</display-name>
    <servlet-name>RoleAdd</servlet-name>
    <servlet-class>com.stv.crm.settings.qx.web.controller.RoleAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleAdd</servlet-name>
    <url-pattern>/settings/qx/role/add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleDelete</display-name>
    <servlet-name>RoleDelete</servlet-name>
    <servlet-class>com.stv.crm.settings.qx.web.controller.RoleDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleDelete</servlet-name>
    <url-pattern>/settings/qx/role/delete.do</url-pattern>
  </servlet-mapping>
</web-app>